In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats
import math
%matplotlib inline

In [3]:
tedsa_data = pd.read_csv("tedsa_puf_2015_2017.csv")

In [15]:
tedsa_data[tedsa_data["CBSA2010"] != -9]

,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
19,2015,20151364239,2,11260,3,1,7,6,2,7,...,0,0,0,0,0,0,9,4,0,3
82,2015,20151780462,2,11260,3,1,7,6,5,7,...,0,0,0,0,0,0,9,4,1,2
133,2015,20151479006,2,11260,3,4,6,-9,2,1,...,0,0,0,0,0,0,9,4,0,3
177,2015,20151362661,2,11260,3,1,6,-9,0,1,...,0,0,0,0,0,0,9,4,0,2
242,2015,20151715782,2,11260,3,2,7,-9,0,1,...,0,0,0,0,0,0,9,4,-9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5762517,2017,20171785517,56,16940,5,2,7,-9,0,1,...,0,0,0,0,0,0,8,4,-9,1
5762518,2017,20171449553,56,16220,-9,3,5,1,0,7,...,0,0,0,0,0,0,8,4,0,3
5762519,2017,20171573807,56,16220,4,4,7,1,0,7,...,0,0,0,0,0,0,8,4,-9,2
5762530,2017,20171793094,56,16220,3,4,7,3,4,7,...,0,0,0,0,0,0,8,4,-9,2
5762531,2017,20171455583,56,27220,3,1,7,1,0,7,...,0,0,0,0,0,0,8,4,-9,3

In [29]:
tedsa_data_drop_null = tedsa_data[(tedsa_data.CBSA2010 != -9) &
                                    (tedsa_data.NOPRIOR != -9) &
                                    (tedsa_data.PSOURCE != -9) &
                                    (tedsa_data.EMPLOY != -9) &    
                                    (tedsa_data.METHUSE != -9) &
                                    (tedsa_data.GENDER != -9) &
                                    (tedsa_data.RACE != -9) &
                                    (tedsa_data.ETHNIC != -9) &
                                    (tedsa_data.EMPLOY != -9) &
                                    (tedsa_data.SUB1 != 9) & 
                                    (tedsa_data.ROUTE1 != 9) & 
                                    (tedsa_data.FREQ1 != 9) & 
                                    (tedsa_data.FRSTUSE1 != 9)]

In [ ]:
tedsa_data_drop_null[CBSA2010]